body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.5s;
}

h1 {
    margin-bottom: 20px;
}

#description {
    margin-bottom: 10px;
    font-weight: bold;
}

#userInput {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

#correctAnswer {
    margin-top: 10px;
    font-weight: bold;
}

.neutral {
    background-color: white;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}
